formationdatafactoryfm/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "formationdatafactoryfm"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/srcCSV_site_prelevement')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "sites-prelevements-grand-public.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "id_ej",
						"type": "String"
					},
					{
						"name": "finess",
						"type": "String"
					},
					{
						"name": "rs",
						"type": "String"
					},
					{
						"name": "adresse",
						"type": "String"
					},
					{
						"name": "cpl_loc",
						"type": "String"
					},
					{
						"name": "do_prel",
						"type": "String"
					},
					{
						"name": "do_antigenic",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "mod_prel",
						"type": "String"
					},
					{
						"name": "public",
						"type": "String"
					},
					{
						"name": "horaire",
						"type": "String"
					},
					{
						"name": "horaire_prio",
						"type": "String"
					},
					{
						"name": "check_rdv",
						"type": "String"
					},
					{
						"name": "tel_rdv",
						"type": "String"
					},
					{
						"name": "web_rdv",
						"type": "String"
					},
					{
						"name": "date_modif",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcCSV_variant')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "sp-variant-7j-fra-2021-03-18-17h20.csv"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "fra",
						"type": "String"
					},
					{
						"name": "semaine",
						"type": "String"
					},
					{
						"name": "cl_age90",
						"type": "String"
					},
					{
						"name": "Nb_tests_PCR_TA_crible",
						"type": "String"
					},
					{
						"name": "Prc_tests_PCR_TA_crible",
						"type": "String"
					},
					{
						"name": "Nb_susp_501Y_V1",
						"type": "String"
					},
					{
						"name": "Prc_susp_501Y_V1",
						"type": "String"
					},
					{
						"name": "Nb_susp_501Y_V2_3",
						"type": "String"
					},
					{
						"name": "Prc_susp_501Y_V2_3",
						"type": "String"
					},
					{
						"name": "Nb_susp_IND",
						"type": "String"
					},
					{
						"name": "Prc_susp_IND",
						"type": "String"
					},
					{
						"name": "Nb_susp_ABS",
						"type": "String"
					},
					{
						"name": "Prc_susp_ABS",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_extract')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "dateRep",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dateRep",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "deaths",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "deaths",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "countriesAndTerritories",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "countriesAndTerritories",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "geoId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "geoId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "countryterritoryCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "countryterritoryCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "popData2019",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "popData2019",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "continentExp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "continentExp",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcCSV1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtCSV1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "YearWeekISO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "YearWeekISO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FirstDose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstDose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FirstDoseRefused",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstDoseRefused",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SecondDose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SecondDose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UnknownDose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UnknownDose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NumberDosesReceived",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NumberDosesReceived",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ReportingCountry",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportingCountry",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TargetGroup",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TargetGroup",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vaccine",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vaccine",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Denominator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Denominator",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcCSV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtCSV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "indicator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "indicator",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcCSV3",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "srcCSV3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data4",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data3",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "level",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tests_done",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tests_done",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "testing_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "testing_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "positivity_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "positivity_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcCSV4",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "srcCSV4",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data6",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data5",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "age_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "age_group",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcCSV6",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "srcCSV6",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data5",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data4",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Response_measure",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Response_measure",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_start",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_start",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_end",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_end",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcCSV5",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "srcCSV4",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/newCSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CSV_indicateur",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "extract_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "extract_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tx_incid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tx_incid",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "R",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "R",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "taux_occupation_sae",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "taux_occupation_sae",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tx_pos",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tx_pos",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcCSV_indicateur",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtCSV_indicateur",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CSV_site_prelevement",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CSV_indicateur",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "id_ej",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id_ej",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "finess",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "finess",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rs",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rs",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "adresse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "adresse",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cpl_loc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cpl_loc",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "do_prel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "do_prel",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "do_antigenic",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "do_antigenic",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "mod_prel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "mod_prel",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "public",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "public",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "horaire",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "horaire",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "horaire_prio",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "horaire_prio",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "check_rdv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "check_rdv",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tel_rdv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tel_rdv",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "web_rdv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "web_rdv",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_modif",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_modif",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcCSV_site_prelevement",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtCSV_site_prelevement",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CSV_variant",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CSV_site_prelevement",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "fra",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fra",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "semaine",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "semaine",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cl_age90",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cl_age90",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nb_tests_PCR_TA_crible",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nb_tests_PCR_TA_crible",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Prc_tests_PCR_TA_crible",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Prc_tests_PCR_TA_crible",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nb_susp_501Y_V1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nb_susp_501Y_V1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Prc_susp_501Y_V1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Prc_susp_501Y_V1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nb_susp_501Y_V2_3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nb_susp_501Y_V2_3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Prc_susp_501Y_V2_3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Prc_susp_501Y_V2_3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nb_susp_IND",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nb_susp_IND",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Prc_susp_IND",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Prc_susp_IND",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nb_susp_ABS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nb_susp_ABS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Prc_susp_ABS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Prc_susp_ABS",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcCSV_variant",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtCSV_indicateur",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/srcCSV_site_prelevement')]",
				"[concat(variables('factoryId'), '/datasets/srcCSV_variant')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_globale')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CSV_extract",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CSV_extract",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "newCSV",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CSV_extract",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "newCSV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CSV_extract')]",
				"[concat(variables('factoryId'), '/pipelines/newCSV')]"
			]
		}
	]
}